<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>상품 검색 페이지</title>
	   <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
	<!--css 관련-->
	<link rel="stylesheet" href="./searchProducts.css" />
	</head>
	<body>
		<div>
			<a class="button is-rounded" href=""><span>과일</span></a>
			<a class="button is-rounded" href=""><span>채소</span></a>
			<a class="button is-rounded" href=""><span>쌀/잡곡</span></a>
			<a class="button is-rounded" href=""><span>씨앗</span></a>
		</div>
		<form action="" method="get">
			<div>
				<label for="keyword">검색</label>
				<input type="text" name="keyword" id="keyword">
			</div>
		</form>
		<div>
			<ul>
				<li><div><img src="" alt=""></div>
				<div><a href="" class="product-name"></a><span class="cost"></span></div>
				</li>
			</ul>
		</div>
	</body>
</html>
