*{
	padding : 0;
	margin : 0;
	box-sizing : border-box; /*패딩의 영역도 크기에 포함*/
}
a{
	text-decoration: none;
	color : black;
}

.product-container{
	display: flex;
}
.product-contents{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}
.product-title{
	font-size: larger;
	font-weight: 500;
}
.product-price{
	font-size: larger;
	font-weight: 800;
	color : orange
}
