*{
	padding : 0;
	margin : 0;
	box-sizing : border-box; /*패딩의 영역도 크기에 포함*/
}
a{
	text-decoration: none;
	color : black;
}

.column{
	display: flex;
}
.row {
	display: flex;
	flex-direction: column;
}
