<link rel="stylesheet" href="/common/footer.css" />
<div id="footer">
  <div id="footerDiv">
    <div id="leftSide">
      <p id="p">@2022, fried-egg farm Company 계란후라이 농장 주식회사</p>
      <p id="p">
        대표 : 오승연 | 주소 : 서울특별시 강남구 선릉로 433, 신관 6층
        <br />e-mail : contact@friedegg.io
      </p>
      <a href="#">이용약관</a><a href="#">개인정보처리방침</a>
    </div>

    <div id="rightSide">
      <p id="p">월 - 금 10:00 - 17:00 | 점심시간 12:30 - 13:30</p>
      <p id="p">주말, 공휴일 휴무</p>
    </div>
  </div>
</div>
