<!-- script-->
<script src="/js/modal.js" type="module" defer></script>
<link rel="stylesheet" href="/css/modal.css" />

<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box modal-box">
      <p class="modal-title" id="modalTitle"></p>
      <p class="modal-message" id="modalMessage"></p>
      <div class="modal-button-box">
        <button class="no-button" id="noButton">아니요</button
        ><button class="yes-button" id="yesButton">예</button>
      </div>
    </div>
  </div>
</div>
