.main-container{
  height: 500px;
  width: 80%;
  margin: 0 auto;
}
.slide{
  background-color: var(--main-color);
  width: 70%;
  height: 100%;
}
.right-side{
  background-color: bisque;
  width: 30%;
  height: 100%;
}

.area{
  background-color:cadetblue;
  width: auto;
  height: 200px;
}
