body {
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  height: 50px;
}

.navbar-brand {
  top: 0;
}

h1 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
}

#firstHr {
  width: 460px;
  margin-left: -20px;
}

form {
  margin: 60px auto;
  width: 500px;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 4px 7px 3px rgba(0, 0, 0, 0.09);
}

#userInfo {
  width: 400px;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

#editBtn {
  margin-right: 3px;
}

hr {
  margin: 20px auto;
  width: 800px;
}

#orderList {
  margin: 0 auto;
  width: 800px;
  height: 300px;
}

#orderedInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#orderText {
  height: 115px;
  padding-top: 80px;
  text-align: center;
}

#moreBtn {
  display: flex;
  width: 80px;
  text-align: center;
}
