.table {
  font-size: 0.9rem;
  /* margin-bottom: 1rem !important; */
}

.cart th {
  width: 200px;
  text-align: center;
}
.cart th.check-box {
  width: 50px;
}
.cart th.product-name {
  white-space: nowrap;
  width: 500px;
  border-left: none;
  border-right: none;
}
.cart tbody tr {
  text-align: center;
  height: 100px;
  line-height: 80px;
}
.product-name p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-button {
  font-size: 0.8rem;
}

.delivery-info {
  width: 100%;
}

.delivery-info-form {
  width: 100%;
}

.delivery-info-form input {
  width: 100px;
}

#sample3_address,
#sample3_detailAddress {
  width: 250px;
}

.order-total-price h3 {
  display: inline-block;
}
.order-total-price .total-price {
  display: inline-block;
}
