<table id="cartItem" class="table is-bordered has-text-centered mb-4 cart-item">
  <colgroup>
    <col width="5%" />
    <col width="65%" />
    <col width="15%" />
    <col width="15%" />
  </colgroup>
  <thead>
    <tr class="has-text-centered">
      <th class="check-box"></th>
      <th class="product-name th">상품정보</th>
      <th class="product-quantity">수량</th>
      <th>주문금액</th>
    </tr>
  </thead>
  <tbody id="cartProductList"></tbody>
</table>
