.hidden {
  display: none;
}
/*div 상품 상세 페이지*/
/* .detail-box {
  width: 1280px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

/*div 이미지 영역*/
.product-image {
  width: 50%;
  height: 300px;

  border: 1px solid #ddd;
}

.ck-editor__editable {
  height: 500px;
  margin-bottom: 1.5rem;
}
